.home-page {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  height: calc(100vh - 150px);
  margin-top: 70px;
  border-radius: 6px;

  background-color: #fe492c;
}

.home-page-header {
  /* border: 1px solid blue; */
  padding: 20px 45px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-page-header-text {
  /* border: 1px solid green; */
  width: fit-content;
  font-size: 27px;
  font-weight: 600;
  padding: 4px;
}

.home-page-para {
  text-align: center;
  /* border: 1px solid black; */
  padding: 30px;
  font-size: 25px;
  color: white;
}
