.header {
  height: 80px;
  width: 100%;
  /* border: 1px solid blue; */
  padding: 12px 4vw;
  display: flex;
  align-items: center;
  background-color: #e6f6fd;
  /* background-color: #f6f6f6; */

  justify-content: space-between;
}

.menu-btn {
  /* border: 1px solid maroon; */
  height: 35px;
  width: 35px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1190px) {
  .menu-btn {
    display: block;
  }
}
