.app {
  /* border: 2px solid yellow; */
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  min-width: 250px;
}

.section-1 {
  /* border: 1px solid green; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2 {
  /* border: 1px solid blue; */
  margin-top: 50px;
  width: 100%;
  height: auto;
}

.section-3 {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.section-4 {
  /* border: 1px solid red; */
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5 {
  border: 1px solid yellow;
}
